#!/usr/bin/make -f
# -*- makefile -*-

# export DH_VERBOSE=1
# export DH_RUBY_IGNORE_TESTS=all

%:
	dh $@ --buildsystem=ruby --with ruby

override_dh_auto_install:
	dh_auto_install -O--buildsystem=ruby
	rm debian/facter/usr/lib/ruby/vendor_ruby/facter/util/cfpropertylist/LICENSE
