#!/usr/bin/make -f

# remove the conf directory, which contains package building
# configurations for redhat, osx and solaris if this is not removed,
# it will get installed into /etc/solaris, /etc/osx, /etc/redhat.
build/facter::
	rm -rf $(CURDIR)/conf

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/ruby-pkg-tools/1/class/ruby-setup-rb.mk
DEB_RUBY_CONFIG_ARGS = --prefix=/usr --siteruby=/usr/lib/ruby/vendor_ruby --siterubyver=/usr/lib/ruby/vendor_ruby --shebang=never
